# ‘Ditch the Car’ Analysis

<p>Data courtesy of [WalkScore](https://www.walkscore.com)

In [13]:
import pandas as pd

In [14]:
ACS_2015 = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Data/county data/economics/economics_county.csv")

In [15]:
ACS_2010 = pd.read_csv("/Users/alexmahadevan/Desktop/ACS_10_5YR_DP03/ACS_10_5YR_DP03_with_ann.csv")

In [16]:
walkers_2015 = ACS_2015[['GEO.display-label' , 'HC03_VC30' , 'HC03_VC31' , 'HC03_VC32' ]]

In [17]:
walkers_2010 = ACS_2010[['GEO.display-label' , 'HC03_VC31' , 'HC03_VC32' , 'HC03_VC33']]

In [18]:
walkers_2015.to_csv("/Users/alexmahadevan/Code/ditch_the_car/walk_transit_2015.csv")

In [19]:
walkers_2010.to_csv("/Users/alexmahadevan/Code/ditch_the_car/walk_transit_2010.csv")

In [5]:
df_walk = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Affordable Walkability/Walk_score_data.csv")

In [8]:
df_walk.head()

           City State  Walk Score Transit Score Bike Score Population
0      New York    NY        89.2          84.1       65.1  8,175,133
1   Los Angeles    CA        67.4          51.3         56  3,792,621
2       Chicago    IL        77.8          64.7       70.2  2,695,598
3       Houston    TX        48.7          36.8       49.3  2,099,451
4  Philadelphia    PA        79.0          66.8       67.5  1,526,006

In [18]:
df_cities = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/locations.csv")

In [19]:
df_cities.head()

,Unnamed: 0,id,name,county,state_code,state,zip_codes,type,latitude,longitude,...,RNETMIG2015,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA,CTYNAME_y,Area_name,Unemployment_rate_2016,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
0,0,1,Adak,Aleutians West Census Area,AK,Alaska,99546,City,51.88000,-176.65806,...,-9.375814,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0
1,1,21,Atka,Aleutians West Census Area,AK,Alaska,99547,City,52.19611,-174.20056,...,-9.375814,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0
2,2,24,Attu Station,Aleutians West Census Area,AK,Alaska,96950,CDP,52.88025,173.25608,...,-9.375814,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0
3,3,225,Nikolski,Aleutians West Census Area,AK,Alaska,99638,CDP,52.93806,-168.86778,...,-9.375814,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0
4,4,304,St. George,Aleutians West Census Area,AK,Alaska,99591,City,56.60000,-169.54167,...,-9.375814,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0

In [20]:
df_walk['CITIES'] = df_walk['City'] + ", " + df_walk['State']

In [21]:
df_walk.head()

,City,State,Walk Score,Transit Score,Bike Score,Population,CITIES
0,New York,NY,89.2,84.1,65.1,"8,175,133","New York, NY"
1,Los Angeles,CA,67.4,51.3,56,"3,792,621","Los Angeles, CA"
2,Chicago,IL,77.8,64.7,70.2,"2,695,598","Chicago, IL"
3,Houston,TX,48.7,36.8,49.3,"2,099,451","Houston, TX"
4,Philadelphia,PA,79.0,66.8,67.5,"1,526,006","Philadelphia, PA"

In [22]:
df_cities['CITIES'] = df_cities['name'] + ", " + df_cities['state_code']

In [23]:
df_merged = pd.merge(df_walk, df_cities, on='CITIES' )

In [24]:
df_merged.head(3)

,City,State,Walk Score,Transit Score,Bike Score,Population,CITIES,Unnamed: 0,id,name,...,RNETMIG2015,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA,CTYNAME_y,Area_name,Unemployment_rate_2016,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
0,Los Angeles,CA,67.4,51.3,56,"3,792,621","Los Angeles, CA",2006,2726,Los Angeles,...,-1.853127,-3.215874,-1.467857,0.031799,0.012673,Los Angeles County,"Los Angeles County, CA",5.2,"59,045",91.6
1,Philadelphia,PA,79.0,66.8,67.5,"1,526,006","Philadelphia, PA",36193,36037,Philadelphia,...,-1.096119,-2.510824,-0.751775,0.025808,0.014140,Philadelphia County,"Philadelphia County/city, PA",6.8,"41,210",74.0
2,Phoenix,AZ,40.8,32.2,54.3,"1,445,632","Phoenix, AZ",1436,1750,Phoenix,...,12.147374,12.701802,10.186834,0.109102,0.013215,Maricopa County,"Maricopa County, AZ",4.5,"56,017",108.8

In [25]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 0 to 89
Columns: 150 entries, City to Med_HH_Income_Percent_of_State_Total_2015
dtypes: float64(44), int64(85), object(21)
memory usage: 106.2+ KB

In [34]:
df_merged.sort_values("Med_HH_Income_Percent_of_State_Total_2015", ascending=False)

,City,State,Walk Score,Transit Score,Bike Score,Population,CITIES,Unnamed: 0,id,name,...,RNETMIG2015,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA,CTYNAME_y,Area_name,Unemployment_rate_2016,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
4,San Jose,CA,50.5,41,56.9,"945,942","San Jose, CA",2651,3131,San Jose,...,4.108498,-1.910429,4.693053,0.074310,0.012417,Santa Clara County,"Santa Clara County, CA",3.8,"102,191",158.5
85,Arlington,VA,68.9,58,71,"207,627","Arlington, VA",40409,41418,Arlington,...,1.119932,-0.048040,5.823782,0.098358,0.013593,Arlington County,"Arlington County, VA",2.6,"104,354",157.5
6,San Francisco,CA,86.0,80.4,75.1,"805,235","San Francisco, CA",3367,3125,San Francisco,...,10.848923,6.743644,9.288940,0.080819,0.010635,San Francisco County,"San Francisco County/city, CA",3.3,"90,527",140.4
13,Seattle,WA,73.1,57,63,"608,660","Seattle, WA",41483,42848,Seattle,...,11.061395,11.261598,11.290283,0.109498,0.012049,King County,"King County, WA",3.9,"81,816",127.7
28,Oakland,CA,72.0,55.1,60.9,"390,724","Oakland, CA",2268,2906,Oakland,...,9.247859,3.860445,8.222618,0.088561,0.012149,Alameda County,"Alameda County, CA",4.2,"81,462",126.3
78,Fremont,CA,44.2,36.4,61.1,"214,089","Fremont, CA",2264,2431,Fremont,...,9.247859,3.860445,8.222618,0.088561,0.012149,Alameda County,"Alameda County, CA",4.2,"81,462",126.3
79,Irvine,CA,43.5,27.4,69.7,"212,375","Irvine, CA",2347,2568,Irvine,...,0.593545,-0.209192,2.210954,0.051326,0.012114,Orange County,"Orange County, CA",4.0,"78,002",121.0
35,Anaheim,CA,54.5,35.4,51.9,"336,265","Anaheim, CA",2336,1968,Anaheim,...,0.593545,-0.209192,2.210954,0.051326,0.012114,Orange County,"Orange County, CA",4.0,"78,002",121.0
37,Santa Ana,CA,66.1,46,57.1,"324,528","Santa Ana, CA",2368,3149,Santa Ana,...,0.593545,-0.209192,2.210954,0.051326,0.012114,Orange County,"Orange County, CA",4.0,"78,002",121.0
87,Boise City,ID,40.2,--,62.9,"205,671","Boise City, ID",6839,7026,Boise City,...,10.775835,17.515769,13.875970,0.128455,0.011547,Ada County,"Ada County, ID",3.3,"58,431",120.9
7,Charlotte,NC,25.9,--,36.1,"731,424","Charlotte, NC",22774,23075,Charlotte,...,13.026183,12.579604,13.299222,0.142430,0.014028,Mecklenburg County,"Mecklenburg County, NC",4.7,"57,029",119.1
66,Madison,WI,48.7,38.3,72.6,"233,209","Madison, WI",42113,44066,Madison,...,6.015171,9.996670,7.530176,0.086026,0.011757,Dane County,"Dane County, WI",2.9,"65,416",117.6
42,Lexington-Fayette,KY,34.2,25.3,43.7,"295,803","Lexington-Fayette, KY",13670,13918,Lexington-Fayette,...,7.114400,6.181145,5.800100,0.073242,0.012897,Fayette County,"Fayette County, KY",3.5,"51,963",115.0
69,Baton Rouge,LA,40.6,--,47,"229,493","Baton Rouge, LA",13848,14196,Baton Rouge,...,-4.286611,-2.440518,-2.773323,0.014326,0.013498,East Baton Rouge Parish,"East Baton Rouge Parish, LA",5.1,"50,389",110.0
31,Arlington,TX,37.4,--,42.9,"365,438","Arlington, TX",38908,39387,Arlington,...,10.062350,9.883745,8.740327,0.109582,0.014221,Tarrant County,"Tarrant County, TX",3.9,"60,735",109.1
21,Mesa,AZ,37.3,25.3,58.5,"439,041","Mesa, AZ",1432,1706,Mesa,...,12.147374,12.701802,10.186834,0.109102,0.013215,Maricopa County,"Maricopa County, AZ",4.5,"56,017",108.8
70,Glendale,AZ,39.9,29.2,51.4,"226,721","Glendale, AZ",1425,1630,Glendale,...,12.147374,12.701802,10.186834,0.109102,0.013215,Maricopa County,"Maricopa County, AZ",4.5,"56,017",108.8
75,Scottsdale,AZ,32.4,23.5,--,"217,385","Scottsdale, AZ",1438,1806,Scottsdale,...,12.147374,12.701802,10.186834,0.109102,0.013215,Maricopa County,"Maricopa County, AZ",4.5,"56,017",108.8
64,Chandler,AZ,34.6,18.1,--,"236,123","Chandler, AZ",1418,1545,Chandler,...,12.147374,12.701802,10.186834,0.109102,0.013215,Maricopa County,"Maricopa County, AZ",4.5,"56,017",108.8
2,Phoenix,AZ,40.8,32.2,54.3,"1,445,632","Phoenix, AZ",1436,1750,Phoenix,...,12.147374,12.701802,10.186834,0.109102,0.013215,Maricopa County,"Maricopa County, AZ",4.5,"56,017",108.8
84,Gilbert,AZ,29.0,14.5,57.5,"208,453","Gilbert, AZ",1424,1628,Gilbert,...,12.147374,12.701802,10.186834,0.109102,0.013215,Maricopa County,"Maricopa County, AZ",4.5,"56,017",108.8
29,Minneapolis,MN,69.2,57.5,81.3,"382,578","Minneapolis, MN",20102,19808,Minneapolis,...,1.746705,3.700862,4.260413,0.067653,0.013580,Hennepin County,"Hennepin County, MN",3.4,"68,902",108.6
71,Reno,NV,37.6,27.7,48.1,"225,221","Reno, NV",27253,28015,Reno,...,10.106252,13.965449,7.531288,0.074548,0.012101,Washoe County,"Washoe County, NV",5.0,"56,457",107.4
25,Omaha,NE,45.1,--,40.8,"408,958","Omaha, NE",25407,26059,Omaha,...,2.453134,2.182649,3.011514,0.070025,0.015604,Douglas County,"Douglas County, NE",3.5,"58,405",106.1
43,Anchorage,AK,32.0,22.3,--,"291,826","Anchorage, AK",161,14,Anchorage,...,-16.364338,-9.458445,-7.400666,0.016281,0.015292,Anchorage Municipality,"Anchorage Borough/municipality, AK",5.3,"77,791",106.0
16,Albuquerque,NM,42.7,30.2,59.6,"545,852","Albuquerque, NM",26896,27489,Albuquerque,...,-3.292369,0.057696,-0.931873,0.019340,0.011578,Bernalillo County,"Bernalillo County, NM",5.8,"47,870",105.2
34,Honolulu,HI,63.7,55.6,45.2,"337,256","Honolulu, HI",5681,5883,Honolulu,...,-0.625709,-5.192945,0.409336,0.037937,0.013330,Honolulu County,"Honolulu County/city, HI",2.8,"76,544",104.7
36,Tampa,FL,50.0,30.3,53.2,"335,709","Tampa, FL",4531,5093,Tampa,...,17.033301,16.582731,12.670220,0.115411,0.012603,Hillsborough County,"Hillsborough County, FL",4.5,"51,710",104.6
61,Chula Vista,CA,42.3,35.5,45.8,"243,916","Chula Vista, CA",2522,2190,Chula Vista,...,2.036921,1.860474,3.715944,0.068743,0.013459,San Diego County,"San Diego County, CA",4.7,"67,053",104.0
3,San Diego,CA,50.9,36.7,45.5,"1,307,402","San Diego, CA",2556,3121,San Diego,...,2.036921,1.860474,3.715944,0.068743,0.013459,San Diego County,"San Diego County, CA",4.7,"67,053",104.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,Riverside,CA,41.3,31.2,49.9,"303,871","Riverside, CA",2195,3075,Riverside,...,6.518447,8.463005,6.683833,0.084240,0.012918,Riverside County,"Riverside County, CA",6.1,"57,895",89.8
27,Cleveland,OH,59.5,47.1,50.8,"396,815","Cleveland, OH",30921,30615,Cleveland,...,-4.914022,-5.366604,-4.607001,-0.022666,0.011959,Cuyahoga County,"Cuyahoga County, OH",5.4,"45,506",89.1
81,Rochester,NY,64.6,42.8,58.9,"210,565","Rochester, NY",29184,29670,Rochester,...,-4.197081,-3.440731,-1.800817,0.003716,0.011102,Monroe County,"Monroe County, NY",4.7,"54,204",89.1
89,Fayetteville,NC,20.9,--,--,"200,564","Fayetteville, NC",22874,23178,Fayetteville,...,-12.209525,-3.689245,-6.582281,0.021863,0.016492,Cumberland County,"Cumberland County, NC",6.3,"42,380",88.5
26,Miami,FL,79.2,59.4,59.7,"399,457","Miami, FL",4594,4807,Miami,...,4.409790,4.169798,8.437027,0.081992,0.011711,Miami-Dade County,"Miami-Dade County, FL",5.4,"43,687",88.4
72,Hialeah,FL,69.4,38,--,"224,669","Hialeah, FL",4582,4620,Hialeah,...,4.409790,4.169798,8.437027,0.081992,0.011711,Miami-Dade County,"Miami-Dade County, FL",5.4,"43,687",88.4
55,Lincoln,NE,42.7,--,62.3,"258,379","Lincoln, NE",25284,25899,Lincoln,...,-0.937573,-15.871769,-9.752181,-0.050697,0.013430,Antelope County,"Antelope County, NE",2.7,"48,546",88.1
49,Buffalo,NY,67.8,50.4,54.5,"261,310","Buffalo, NY",27547,28277,Buffalo,...,-0.969318,-1.903468,0.422318,0.001986,0.010985,Erie County,"Erie County, NY",4.9,"52,176",85.8
68,Lubbock,TX,38.0,21.1,46.7,"229,573","Lubbock, TX",39362,40275,Lubbock,...,6.999305,7.689178,6.788697,0.081416,0.014027,Lubbock County,"Lubbock County, TX",3.4,"47,139",84.7
45,Toledo,OH,45.9,--,44.7,"287,208","Toledo, OH",31317,32372,Toledo,...,-5.185889,-4.265668,-6.160362,-0.020570,0.012900,Lucas County,"Lucas County, OH",5.1,"43,136",84.4
33,New Orleans,LA,57.6,--,60.1,"343,829","New Orleans, LA",14161,14483,New Orleans,...,9.484648,0.668175,14.739405,0.125299,0.013032,Orleans Parish,"Orleans Parish, LA",5.9,"38,640",84.3
82,San Bernardino,CA,42.0,37.6,39.3,"209,924","San Bernardino, CA",2113,3115,San Bernardino,...,-0.778530,0.531595,-0.723028,0.048264,0.014571,San Bernardino County,"San Bernardino County, CA",5.7,"53,526",83.0
59,Jersey City,NJ,87.3,70,66.3,"247,597","Jersey City, NJ",26519,27026,Jersey City,...,-1.709136,-3.016834,1.120150,0.065585,0.014894,Hudson County,"Hudson County, NJ",4.7,"60,053",83.0
51,Lincoln,NE,42.7,--,62.3,"258,379","Lincoln, NE",24776,25904,Lincoln,...,2.819880,3.860326,-1.157111,-0.012102,0.013301,Knox County,"Knox County, NE",3.2,"45,566",82.7
44,Stockton,CA,41.8,28.2,53.9,"291,707","Stockton, CA",1923,3250,Stockton,...,8.005769,7.658497,3.776188,0.067399,0.013955,San Joaquin County,"San Joaquin County, CA",8.1,"53,341",82.7
52,Lincoln,NE,42.7,--,62.3,"258,379","Lincoln, NE",25008,25901,Lincoln,...,-16.748768,-1.990380,-8.105994,-0.067450,0.008626,Franklin County,"Franklin County, NE",3.1,"44,911",81.5
8,Detroit,MI,55.4,37.9,55,"713,777","Detroit, MI",16444,16774,Detroit,...,-6.454890,-7.453169,-9.155204,-0.036281,0.013267,Wayne County,"Wayne County, MI",6.4,"41,585",81.4
12,Boston,MA,80.9,74.4,70.3,"617,594","Boston, MA",14698,14695,Boston,...,5.469754,4.079651,7.004026,0.081158,0.012076,Suffolk County,"Suffolk County, MA",3.4,"56,530",80.0
32,Bakersfield,CA,37.4,29.6,48.1,"347,483","Bakersfield, CA",2843,2006,Bakersfield,...,-0.856343,-2.843078,-1.415581,0.051222,0.016019,Kern County,"Kern County, CA",10.3,"51,150",79.3
9,El Paso,TX,41.5,--,--,"649,121","El Paso, TX",38403,39782,El Paso,...,-10.718399,-4.340489,-3.495401,0.042652,0.015897,El Paso County,"El Paso County, TX",4.9,"43,101",77.4
24,Omaha,NE,45.1,--,40.8,"408,958","Omaha, NE",24973,26060,Omaha,...,3.420996,-3.663004,-6.908589,0.022525,0.023151,Thurston County,"Thurston County, NE",5.0,"42,290",76.8
83,Spokane,WA,48.0,35.4,48.6,"208,916","Spokane, WA",41262,42876,Spokane,...,8.676091,13.947077,5.523496,0.057024,0.011944,Spokane County,"Spokane County, WA",6.3,"48,676",76.0
38,St. Louis,MO,64.5,45.2,56.9,"319,294","St. Louis, MO",21596,22038,St. Louis,...,-9.361817,-16.631565,-9.247249,-0.024744,0.014602,St. Louis city,"St. Louis city, MO",5.4,"37,948",75.6
1,Philadelphia,PA,79.0,66.8,67.5,"1,526,006","Philadelphia, PA",36193,36037,Philadelphia,...,-1.096119,-2.510824,-0.751775,0.025808,0.014140,Philadelphia County,"Philadelphia County/city, PA",6.8,"41,210",74.0
18,Fresno,CA,46.3,30.3,55.9,"494,665","Fresno, CA",2989,2435,Fresno,...,-0.337935,-0.944650,-1.606888,0.050889,0.016090,Fresno County,"Fresno County, CA",9.4,"46,608",72.3
47,Newark,NJ,80.4,64.9,51.1,"277,140","Newark, NJ",26618,27169,Newark,...,-2.106414,-2.746312,-2.819037,0.015612,0.012717,Essex County,"Essex County, NJ",6.0,"52,206",72.2
65,Laredo,TX,41.3,--,--,"236,091","Laredo, TX",38441,40173,Laredo,...,-6.684916,-6.287468,-3.193020,0.079010,0.019864,Webb County,"Webb County, TX",4.9,"39,237",70.5
62,Norfolk,VA,45.4,35.8,--,"242,803","Norfolk, VA",40772,41800,Norfolk,...,-6.962173,-9.942086,-5.415220,0.009210,0.014671,Norfolk city,"Norfolk city, VA",5.2,"45,094",68.1
88,Richmond,VA,51.4,--,--,"204,214","Richmond, VA",40781,41854,Richmond,...,10.528029,11.400232,10.153980,0.093354,0.013384,Richmond city,"Richmond city, VA",4.6,"40,161",60.6
11,Baltimore,MD,69.4,57.8,56.1,"620,961","Baltimore, MD",15050,15211,Baltimore,...,-5.585035,-14.259756,-5.568184,-0.010514,0.014079,Baltimore city,"Baltimore city, MD",6.3,"43,192",57.0